name: tests_hw
on: [push, pull_request]
jobs:
  issue1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      # - name: cd into folder
        # run: cd tests/
      - name: run doctest
        run: python -m doctest -o NORMALIZE_WHITESPACE -v tests/morse.py
      - run: pip install ruff
      - name: Run Ruff
        run: ruff check tests/morse.py